@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.imagen {
    width: 80%;
}

.Tarjeta {
   width: 300px;
   height: 300px;
   box-shadow: 10px 10px 60px -2px;
   padding: 30px;
   margin: 30px;
   display: inline-block;
   text-align: center;
   background: linear-gradient(to right, #fdfbfb , #c3cfe2);
   border-radius: 25px;
   font-family: 'Open Sans';
   font-size: 32px;
}